<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <a href="{% url 'admin:index' %}">Admin</a>
        <a href="{% url 'create' %}">Create</a>
        <a href="{% url 'work' %}">Work</a>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    {% block script %}
    {% endblock %}
</body>
</html>