{% extends 'base.html' %}

{% block content %}
<h1>Отчет для директора</h1>
<p>Период: {{ period }}</p>

<div class="metrics">
    <h3>Основные показатели:</h3>
    <p>Всего заказов: {{ total_orders }}</p>
    <p>Выручка: {{ total_revenue }} руб.</p>
</div>


<!-- Форма для выбора периода -->
<form method="GET">
    <input type="date" name="start_date">
    <input type="date" name="end_date">
    <button type="submit">Применить</button>
</form>
<form method="GET">
    <button type="submit">Показать весь период</button>
</form>
{% endblock %}